<h1>Meili juhised uuesti</h1>

<%= form_for :user, Routes.user_confirmation_path(@conn, :create), fn f -> %>
  <%= label f, :email %>
  <%= email_input f, :email, required: true %>

  <div>
    <%= submit "Meili juhised uuesti" %>
  </div>
<% end %>

<p>
  <%= link "Registreeri", to: Routes.user_registration_new_path(@conn, :new) %> |
  <%= link "Sisene", to: Routes.user_session_path(@conn, :new) %>
</p>
