/* This file is for your main application css. */
@import "./phoenix.css";

/* LiveView specific classes for your customizations */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

.wrapper {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%
}

.wrapper .container {
  max-width: 80rem
}

.wrapper>.container {
  padding-bottom: 7.5rem;
  padding-top: 7.5rem
}

.button-large {
  font-size: 2.4rem;
  height: 7.5rem;
  line-height: 7.5rem;
  padding: 0 2rem;
}

.button-main {
  width: 100%;
}

.team-name {
  margin-bottom: 0px !important;
}

.team-name-right {
  text-align: right;
}

.prediction-row {
  padding: 1rem;
  padding-top: 3rem;
  border-top: .1rem solid #c7e2ff;
  background-color: #f4f5f6;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.prediction-col {
  height: 12rem;
}
.away-team {
  align-items: flex-start;
  display: flex;
  justify-content: flex-end;
}

.home-team {
  align-items: flex-start;
  display: flex;
}
.height-10 {
  height: 0%;
}

.triangle {
  justify-content: center;
  align-items: center;
  display: flex !important;
}

.flag {
  width: 100%;
  height: 100%;
}
.flag-image {
  width: 100%;
  height: 100%;
}
.triangle-up {
  width: 0;
  height: 0;
  border-left: 3rem solid transparent;
  border-right: 3rem solid transparent;
  border-bottom: 8rem solid #0367d9;
  margin-bottom: 1rem;
}

.triangle-down {
  width: 0;
  height: 0;
  border-left: 3rem solid transparent;
  border-right: 3rem solid transparent;
  border-top: 8rem solid #0367d9;
}

.triangle-down:hover, triangle-up:hover,
.triangle-down:focus, triangle-up:focus{
  color: #1c7430;
}

.score {
  font-size: 10rem;
  line-height: 10rem;
  color: #868686;
  font-weight: bolder;
}

  /*
  navbar
   */
.navigation {
  display: block;
  height: 5.2rem;
  left: 0px;
  max-width: 100%;
  position: fixed;
  right: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  background: rgb(244, 245, 246);
  border-bottom: 0.1rem solid rgb(209, 209, 209);
}

.navigation .container {
  padding-bottom: 0;
  padding-top: 0;
  max-width: 80rem;
}

.navigation .navigation-list {
  list-style: none;
  margin-bottom: 0;
  line-height: 5.2rem;
  margin-right: 5rem
}

@media(min-width: 80rem) {
  .navigation .navigation-list {
    margin-right:0;
    line-height: 5.2rem;
  }
}

.navigation .navigation-item {
  float: left;
  margin-bottom: 0;
  margin-left: 2.5rem;
  position: relative
}

.navigation .img {
  fill: #0168d9;
  height: 2rem;
  position: relative;
  top: .3rem
}

.navigation .navigation-title,.navigation .title {
  color: #606c76;
  font-family: Gotham Rounded A,Gotham Rounded B,Helvetica Neue,Arial,sans-serif;
  position: relative
}

.navigation .navigation-link,.navigation .navigation-title,.navigation .title {
  display: inline;
  font-size: 1.6rem;
  line-height: 5.2rem;
  padding: 0;
  text-decoration: none
}

.navigation .navigation-link.active {
  color: #606c76
}

.octocat {
  border: 0;
  color: #f4f5f6;
  fill: #9b4dca;
  height: 5.2rem;
  position: fixed;
  right: 0;
  top: 0;
  width: 5.2rem;
  z-index: 2
}

.octocat:hover .octocat-arm {
  animation: b .56s infinite;
  transform-origin: 13rem 10.6rem
}

.octocat .octocat-arm,.octocat .octocat-body {
  fill: #f4f5f6
}

@keyframes b {
  0%,50% {
    transform: rotate(0)
  }

  25%,75% {
    transform: rotate(-25deg)
  }
}
.popover {
  background: #fff;
  border: .1rem solid #d1d1d1;
  border-radius: .4rem;
  display: none;
  filter: drop-shadow(0 0 .6rem rgba(0,0,0,.1));
  left: 50%;
  min-width: 13.4rem;
  position: absolute;
  top: 94%;
  transform: translateX(-50%)
}

.popover.popover-open {
  display: block
}

.popover:after,.popover:before {
  border: solid transparent;
  border-color: transparent;
  border-width: 1rem;
  content: " ";
  height: 0;
  left: 50%;
  pointer-events: none;
  position: absolute;
  right: 1.7rem;
  top: 0;
  width: 0
}

.popover:after {
  border-bottom-color: #fff;
  transform: translate(-50%,-100%)
}

.popover:before {
  border-bottom-color: #d1d1d1;
  transform: translate(-50%,-102%)
}

.popover .popover-list {
  list-style: none;
  margin: 0;
  padding: 0
}

.popover .popover-item {
  margin: 0;
  padding: 0
}

.popover .popover-item:first-child .popover-link {
  border-radius: .4rem .4rem 0 0
}

.popover .popover-item:last-child .popover-link {
  border-bottom-width: 0;
  border-radius: 0 0 .4rem .4rem
}

.popover .popover-link {
  border-bottom: .1rem solid #d1d1d1;
  color: #606c76;
  display: block;
  font-size: 1.2rem;
  padding: .8rem 2rem;
  position: relative;
  text-align: center;
  text-decoration: none
}

.popover .popover-link:hover {
  background: #9b4dca;
  border-bottom-color: #9b4dca;
  color: #fff
}

.share,.share-list,.share-list a {
  position: relative;
  text-decoration: none
}

.share-item {
  display: inline-block;
  margin: 1rem 0
}

.share-item:nth-child(n+1) {
  margin-left: .5rem
}

.share-dialog {
  background-color: #9b4dca;
  border-radius: .4rem;
  color: #fff;
  display: block;
  height: 2.2rem;
  text-align: center;
  width: 5rem
}

.prediction-button {
  margin-top: 1.3rem;
}

/**
progress bar
 */
// Color Variables ======================================
.progress-wrapper {
  width: 100%;
}

.progress-bar {
  width: 100%;
  background-color: #e0e0e0;
  padding: 3px;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
}

.progress-bar-fill {
  display: block;
  height: 22px;
  background-color: #0168d9;
  border-radius: 3px;

  transition: width 500ms ease-in-out;
}
